<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidkotlinbook">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidKotlinBook">
        <activity
            android:name=".userEvent.Activity_08_2_ViewEvent"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userEvent.Activity_08_5_TouchKeyEvent"
            android:exported="true" />
        <activity
            android:name=".Activity_06_5_VerifyPassword"
            android:exported="true" />
        <activity
            android:name=".Activity_06_4_ViewBinding"
            android:exported="true" />
        <activity
            android:name=".Activity_06_3_BasicView"
            android:exported="true" />
        <activity
            android:name=".Activity_06_2_ViewClass"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>